:root {
  --font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif;
  --base-font-size: 16px;
  --text-color: #242424;
  --bg-color: rgba(255, 255, 255, 0.87);
  --accent: #4e75ff;
  --accent-2: #ff6b0a;
  --container-max: 1200px;
  --header-height: 100px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}
