.container {
  max-width: var(--container-max);
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* header */
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  z-index: 1000;
}

.menu {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.menu-link {
  display: block;
  padding: 10px 20px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 6px;
  transition: color 250ms linear, border-color 250ms linear;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-2);
  border-color: var(--accent-2);
}

.gallery-section,
main {
  padding-top: calc(var(--header-height) + 16px);
}
